.hospital-form__container{
    max-width: 45rem;
    width: 100%;
    margin: 5rem auto;
    margin-top: 1rem;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}

